/* .App {
  text-align: center;
} */

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}



.move-this {
  background-image: url('./images/cheering-crowd-event-17598.jpg');
  background-size: cover;
  height:  600px;
  overflow: hidden;
  }

  

.the-video {
  padding-left: 300px;
}

.the-h1-main {
  padding-left: 150px;
  padding-top: 50px;
}

.for-signup {
  background-color: rgba(64 , 224, 208, 0.09);
  width: 45vw;
  float: right;
  height: 539px;
  /* position: fixed; */
}

/* .sign-up-box{

  margin-top: 20vh;
} */

.profile {
/* background-color: blue; */
/* top: 500px; */
/* margin-top: 30vh; */
}


.nav-style {
  background-color: red;
}