.App {
  text-decoration: none;
  margin: 0;
  /* padding: 0px; */
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.move-this {
  background-image: url('./images/cheering-crowd-event-17598.jpg');
  background-size: cover;
  height:  85vh;
  overflow: hidden;
  }

.the-video {
  padding-left: 170px;
}

.the-h1-main {
  padding-left: 150px;
  padding-top: 50px;
}

.for-signup {
  background-color: rgba(0, 0, 0, 0.4);
  width: 40vw;
  float: right;
  height: 50vh;
  position: fixed;
  bottom: 30vh;
  left: 50vw;
}


.lobby{
  height: 90vh;
}



.nav-style {
position: relative;

  /* background-color: white; */
  color: gray;
  width: 30vw;
  height: 50px;
/* top: 10px; */

}

.add-team{
  margin-left: 6vw;
  padding-left: 3vw;
  padding-right: 3vw;
  color: black;
  background-color: rgba(0,0,0,0.8);
  padding-top: 4vh;
  height: 35vh;
  position: fixed;
  border-radius: 10px;
}

.add-field{
    margin-left: 6vw;
    padding-left: 3vw;
    padding-right: 3vw;
    background-color: rgba(0,0,0,0.8);
     color: white;
    padding-top: 4vh;
    height: 35vh;
    position: fixed;
    border-radius: 10px;
}

body {
  font-family: sans-serif;  
}

.another-class {
background-color: rgba(0, 0, 0, 0.02);
color: black;
padding-left: 78vw;
/* padding-top: 3vh; */
/* padding-bottom: 3vh; */
/* border-bottom: 1px solid grey; */
}

.whatever {
  text-decoration: none;
  color: gray;
  list-style-type: none;
}

li {
  list-style-type: none;
  padding-left: 18px;
}

ul{
position: relative;
right: 100px;
}


.move-the-form {
  padding-left: 10vw;
  /* padding-top: 3vh; */
  /* padding-bottom: 4vh; */
  position: absolute;
}

.move-the-form > h1{
  text-align: center;
  width: 29vw;
}

.lobby-card{
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.6);
  height: 8vh;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-bottom: 30vh;
  margin-top: 22vh;
  text-align: center;
  border-radius: 10px;
}

.lobby-card > p {
  color: white;
  width: 12vw;
  font-size: 20px;
  margin-top: 4vh;
}

.move-this {
display: flex;
justify-content: center;
justify-content:space-evenly;
padding-left:  620px;
margin: 0px;
padding: 0px;

}

.different-class {

}

.first-one {
font-size: 30px;
color: black;
padding-top: 15px;
}

.add-image-here {
  background-image: url('./images/action-backlit-beach-978695.jpg');
  height: 90vh;
  overflow: hidden;
  background-position-y: -150px;
  background-size: cover;
  background-repeat: no-repeat;
}

.the-signup-thing {
background-color: rgba(0, 0, 0, 0.6);
color: white;
}

.sign-up-box > form{
  background-color: gray;
  top: 200px;
}

.the-logo-image {
  background-image: url('./images/thelogo.png');
  height: 100px;
  width:  250px;
  background-size: cover;
}




.the-input-boxes {
  background-color: rgb(15, 107, 255);
  /* width: 650px; */
  color: white;
  text-align: center;
}



.the-input-boxes > a {
  color: red;
}




li {
  display: inline;
}


#the-navbar-base {

}

nav.nav-style > ul > li {
  padding-top: 1vh;
}


img {
  width: 200px;
}


.moving-the-top {
    border: 4px solid white;
    width: 550px;
    background-color: gray;
}

div.field-details > a{
  text-decoration: none;
  color: white;
}


.background-image-class {
  background-image: url('./images/ball-field-grass-114296.jpg');
  height: 400px;
  background-size: cover;
  background-position-y: -64px;
  width: 1100px;
  position: absolute;
  bottom: 480px;
  left: 550px;
}


.fields-background {
  background-image: url('./images/action-aerial-athletes-1171084.jpg');
  height: 96vh;
  background-size: cover;
}



.change-the-color {
  background-color: white;
}



label {
  color: white;
}


.give-a-box {
  background-color: rgba(0,0,0,0.8);
  width: 500px;
  margin-left: 180px;
  border-radius: 20px;  
}

.give-a-box > a {
  text-decoration: none;
  color: white;
}



.teams-background {
  background-image: url('./images/action-activity-adult-262524.jpg');
  height: 96vh;
  background-size: cover;
}

.the-input-boxes > div > a {
  text-decoration: none;
  color: white;
}

.login-navbar{
  padding-bottom: 2vh;
  padding-top: 2vh;
}

.login-navbar > form > label {
  color: black;
  display: inline;
}

.login-navbar > form{
  display: inline;
}

.logo-left{
  position: absolute;
  left: 5vw;
}

.logo-left > img{
  width: 15vw;
  height: 11vh;
}