body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;  


}


.another-class {
display: flex;
/* float: right; */
margin: 20px;
background-color: rgba(0, 0, 0, 0.6);
margin: 0px;
padding: 0px;
padding-left: 800px;
padding-top: 50px;
color: white;

}


.whatever {
  text-decoration: none;
  color: gray;
  list-style-type: none;
}


li {
  list-style-type: none;
}


.for-signup {
  background-color: rgba(64 , 224, 208, 0.09);
  /* background-color: black;   */
  /* padding-top: 100px; */
  /* width: 600px; */
  height: 539px;
  position: absolute;
  bottom: 100px;
  left: 850px;
  overflow: hidden;

}


#for-h1 {
     padding-left: 150px;
}

.move-the-form {
  padding-left: 100px;
}

.lobby-card{
  /* height: 50vh; */
  /* width: 25vw; */
  /* padding-right: 5vw; */
  
  margin: 100px;
  /* background-color: gray; */
  border: 1px solid black;
  /* border-radius: 50%; */
  /* display: flex; */
  /* justify-content: space-between; */
}



.move-this {
  display: flex;
  justify-content: center;
justify-content:space-evenly;
padding-left:  620px;
padding-top: 120px;
}

.first-one {
font-size: 30px;
color: black;
padding-top: 15px;

}


a {
  text-decoration: none;
}

.add-image-here {
  background-image: url('./images/action-backlit-beach-978695.jpg');
  height: 90vh;
  background-size: cover;
 overflow: hidden;
 background-position-y: -150px;
}


.the-signup-thing {
/* position: absolute; */
bottom:150px;
right: 0px;
background-color: rgba(0, 0, 0, 0.6);
color: white;
}


.the-logo-image {
  background-image: url('./images/thelogo.png');
  height: 100px;
  width:  250px;
  background-size: cover;
}

/* .move-this {
  width: 200px;
  position: absolute;
  background-image: url('./images/cheering-crowd-event-17598.jpg');
  background-size: cover;
  width: 820px;
  } 
    */